.search {
    margin-top: 20px;
}

.search-title {
    font-size: 20px;
    color: #333;
    font-weight: 400;
    text-align: center;
}

.search-wrap {
    margin: 10px 8px;
}

.search-input {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    font-size: 16px;
    padding: 5px 10px;
    border: solid 1px #333;
    border-radius: 5px;
}